@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Employee Management</title>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/css/Index.css" rel="stylesheet" />
    <script src="~/js/HomeController.js"></script>
</head>
<body>
    <div id="main">
        <table width="700" border="1" cellpadding="5" cellspacing="5" id="displayTable">
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Address</td>
                    <td>Mobile Number</td>
                    <td>Zip Code</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <br /><hr /><br />

    <div id="sub">
        <form name="form" runat="server">
            <table align="center" width="400" border="1">
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" id="firstName" /></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" id="lastName" /></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" id="address" /></td>
                </tr>
                <tr>
                    <td>Mobile Number:</td>
                    <td><input type="text" id="mobileNumber" /></td>
                </tr>
                <tr>
                    <td>Zip Code:</td>
                    <td><input type="text" id="zipCode" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>